# Importando librerias

In [16]:
import pandas as pd
import numpy as np

# Carga de los datos

In [4]:
accesos_cada_100_hogares=pd.read_csv('./csv_s/Penetración de Internet fijo (accesos por cada 100 hogares).csv')

penetracion_por_hogares_nacional_de_Internet_fijo=pd.read_csv('./csv_s/Penetración por hogares nacional de Internet fijo.csv')

total_nacional_accesos_internet_fijo_banda_ancha_angosta=pd.read_csv('./csv_s/Total nacional de accesos a Internet fijo por banda ancha y banda angosta.csv')

accesos_banda_ancha_angosta_provincia=pd.read_csv('./csv_s/Accesos a banda ancha y banda angosta por provincia.csv')

serie_trimestral_accesos_internet_fijo_tecnología=pd.read_csv('./csv_s/Serie trimestral de accesos a Internet fijo por tecnología.csv')

acceso_internet_fijo_tecnología_provincia=pd.read_csv('./csv_s/Acceso a Internet fijo por tecnología y provincia.csv')

velocidad_media_bajada_internet_fijo=pd.read_csv('./csv_s/Velocidad Media de bajada de Internet fijo.csv')

velocidad_media_bajada_internet_fijo_provincia=pd.read_csv('./csv_s/Velocidad media de bajada de Internet fijo por provincia.csv')

distribucion_accesos_totales_nacionales_internet_fijo_velocidad=pd.read_csv('./csv_s/Distribución de los accesos totales nacionales a Internet fijo por velocidad.csv')

acceso_internet_fijo_rangos_velocidad_bajada_provincia=pd.read_csv('./csv_s/Acceso a Internet Fijo por rangos de velocidad de bajada y provincia.csv')

accesos_internet_fijo_velocidad_bajada_provincia=pd.read_csv('./csv_s/Accesos a Internet fijo por velocidad bajada y provincia.csv')

ingresos_trimestrales_prestación_servicio_Internet_fijo=pd.read_csv('./csv_s/Ingresos trimestrales por la prestación del servicio de Internet fijo.csv')

Accesos_Internet_fijo_velocidad_bajada_localidad=pd.read_csv('./csv_s/Accesos a Internet fijo por velocidad de bajada y localidad.csv')

accesos_internet_fijo_tecnología_localidad=pd.read_csv('./csv_s/Accesos a Internet fijo por tecnología y localidad.csv')

listado_localidades_conectividad_internet=pd.read_csv('./csv_s/Listado de localidades con conectividad a internet..csv')

# Limpieza y corrección de tipos de dato

### Penetración de Internet fijo (accesos por cada 100 hogares)

In [24]:
accesos_cada_100_hogares.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN

Vemos que el df tiene 3 columnas vacias y que 'Accesos por cada 100 hogares' no tiene el formato correcto

In [25]:
accesos_cada_100_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.4+ KB

Elimino esas columanas vacias y cambiamos el formato

In [26]:
accesos_cada_100_hogares=accesos_cada_100_hogares.drop(['Unnamed: 4','Unnamed: 5','Unnamed: 6'],axis=1)

accesos_cada_100_hogares['Accesos por cada 100 hogares'] = accesos_cada_100_hogares['Accesos por cada 100 hogares'].str.replace(',', '.', regex=True)
accesos_cada_100_hogares['Accesos por cada 100 hogares'] = pd.to_numeric(accesos_cada_100_hogares['Accesos por cada 100 hogares'], errors='coerce')

In [27]:
accesos_cada_100_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

In [28]:
accesos_cada_100_hogares.describe()

               Año   Trimestre  Accesos por cada 100 hogares
count   864.000000  864.000000                    864.000000
mean   2018.000000    2.500000                     49.620301
std       2.583484    1.118682                     23.319150
min    2014.000000    1.000000                      9.350000
25%    2016.000000    1.750000                     32.220000
50%    2018.000000    2.500000                     46.390000
75%    2020.000000    3.250000                     62.442500
max    2022.000000    4.000000                    124.060000

### Penetración por hogares nacional de Internet fijo

In [71]:
penetracion_por_hogares_nacional_de_Internet_fijo.head()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,77.21,24.15,Oct-Dic 2022
1,2022,3,76.64,23.95,Jul-Sept 2022
2,2022,2,75.97,23.72,Abr-Jun 2022
3,2022,1,73.88,23.05,Ene-Mar 2022
4,2021,4,73.18,22.81,Oct-Dic 2021

vemos que 'Accesos por cada 100 hogares' y 'Accesos por cada 100 hab' no tienen el tipo de dato correcto

In [35]:
penetracion_por_hogares_nacional_de_Internet_fijo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos por cada 100 hogares  36 non-null     object
 3   Accesos por cada 100 hab      36 non-null     object
 4   Periodo                       36 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [36]:
penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hogares'] = penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hogares'].str.replace(',', '.', regex=True)

penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hogares'] = pd.to_numeric(penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hogares'], errors='coerce')

penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hab'] = penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hab'].str.replace(',', '.', regex=True)

penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hab'] = pd.to_numeric(penetracion_por_hogares_nacional_de_Internet_fijo['Accesos por cada 100 hab'], errors='coerce')

In [37]:
penetracion_por_hogares_nacional_de_Internet_fijo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos por cada 100 hogares  36 non-null     float64
 3   Accesos por cada 100 hab      36 non-null     float64
 4   Periodo                       36 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ KB

In [38]:
penetracion_por_hogares_nacional_de_Internet_fijo.describe()

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab
count,36.000000,36.000000,36.000000,36.000000
mean,2018.000000,2.500000,60.745833,18.760278
std,2.618615,1.133893,8.513140,2.782531
min,2014.000000,1.000000,49.550000,15.050000
25%,2016.000000,1.750000,53.162500,16.307500
50%,2018.000000,2.500000,59.925000,18.485000
75%,2020.000000,3.250000,66.637500,20.695000
max,2022.000000,4.000000,77.210000,24.150000

### Total nacional de accesos a Internet fijo por banda ancha y banda angosta

In [39]:
total_nacional_accesos_internet_fijo_banda_ancha_angosta.head()

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

In [40]:
total_nacional_accesos_internet_fijo_banda_ancha_angosta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               36 non-null     int64
 1   Trimestre         36 non-null     int64
 2   Banda ancha fija  36 non-null     int64
 3   Dial up           36 non-null     int64
 4   Total             36 non-null     int64
 5   Periodo           36 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

### Accesos a banda ancha y banda angosta por provincia

In [43]:
accesos_banda_ancha_angosta_provincia.head()

    Año  Trimestre        Provincia  Banda ancha fija  Dial up  Total
0  2022          4     Buenos Aires                 5      6.0      5
1  2022          4  Capital Federal                 2      2.0      2
2  2022          4        Catamarca                71      1.0     71
3  2022          4            Chaco               144      5.0    144
4  2022          4           Chubut               168    904.0    169

In [41]:
accesos_banda_ancha_angosta_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               864 non-null    int64
 1   Trimestre         864 non-null    int64
 2   Provincia         864 non-null    object
 3   Banda ancha fija  864 non-null    int64
 4   Dial up           862 non-null    float64
 5   Total             864 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 40.6+ KB

In [42]:
accesos_banda_ancha_angosta_provincia.describe()

               Año   Trimestre  Banda ancha fija     Dial up       Total
count   864.000000  864.000000        864.000000  862.000000  864.000000
mean   2018.000000    2.500000        137.326389  150.595128  137.636574
std       2.583484    1.118682        180.812265  230.167337  180.798813
min    2014.000000    1.000000          1.000000    0.000000    1.000000
25%    2016.000000    1.750000         39.000000    2.000000   39.750000
50%    2018.000000    2.500000         90.500000   16.000000   91.000000
75%    2020.000000    3.250000        143.000000  253.500000  143.250000
max    2022.000000    4.000000        987.000000  998.000000  987.000000

### Serie trimestral de accesos a Internet fijo por tecnología

In [44]:
serie_trimestral_accesos_internet_fijo_tecnología.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1,6,3,573,222,11,Oct-Dic 2022
1,2022,3,1,6,3,557,235,11,Jul-Sept 2022
2,2022,2,1,6,3,556,232,11,Abr-Jun 2022
3,2022,1,2,6,2,546,252,11,Ene-Mar 2022
4,2021,4,2,6,2,523,253,10,Oct-Dic 2021

In [45]:
serie_trimestral_accesos_internet_fijo_tecnología.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           36 non-null     int64
 1   Trimestre     36 non-null     int64
 2   ADSL          36 non-null     int64
 3   Cablemodem    36 non-null     int64
 4   Fibra óptica  36 non-null     int64
 5   Wireless      36 non-null     int64
 6   Otros         36 non-null     int64
 7   Total         36 non-null     int64
 8   Periodo       36 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

In [46]:
serie_trimestral_accesos_internet_fijo_tecnología.describe()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,2018.000000,2.500000,3.083333,4.166667,193.361111,257.222222,149.500000,8.361111
std,2.618615,1.133893,1.079021,1.253566,239.714968,180.185319,85.497034,1.495761
min,2014.000000,1.000000,1.000000,2.000000,1.000000,71.000000,54.000000,6.000000
25%,2016.000000,1.750000,2.000000,3.000000,2.750000,85.000000,64.250000,7.000000
50%,2018.000000,2.500000,4.000000,4.000000,159.000000,220.000000,116.500000,8.000000
75%,2020.000000,3.250000,4.000000,5.000000,198.250000,415.250000,247.500000,9.250000
max,2022.000000,4.000000,4.000000,6.000000,941.000000,573.000000,265.000000,11.000000

### Acceso a Internet fijo por tecnología y provincia

In [66]:
acceso_internet_fijo_tecnología_provincia.head()

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0

In [47]:
acceso_internet_fijo_tecnología_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           865 non-null    object
 1   Trimestre     865 non-null    object
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(6), object(3)
memory usage: 60.9+ KB

reemplazo los trimestres y años que contienen un * y quito las filas con todos los valores nulos

In [67]:
acceso_internet_fijo_tecnología_provincia['Trimestre'] = acceso_internet_fijo_tecnología_provincia['Trimestre'].str.replace('*', '', regex=True)
acceso_internet_fijo_tecnología_provincia['Trimestre'] = pd.to_numeric(acceso_internet_fijo_tecnología_provincia['Trimestre'], errors='coerce')

acceso_internet_fijo_tecnología_provincia['Año'] = acceso_internet_fijo_tecnología_provincia['Año'].str.replace('*', '', regex=True)
acceso_internet_fijo_tecnología_provincia['Año'] = pd.to_numeric(acceso_internet_fijo_tecnología_provincia['Año'], errors='coerce')

acceso_internet_fijo_tecnología_provincia=acceso_internet_fijo_tecnología_provincia.dropna(how='all')

In [68]:
acceso_internet_fijo_tecnología_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864 entries, 0 to 863
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           864 non-null    float64
 1   Trimestre     864 non-null    float64
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(8), object(1)
memory usage: 67.5+ KB

In [69]:
acceso_internet_fijo_tecnología_provincia.describe()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
count,864.000000,864.000000,864.000000,864.000000,864.000000,864.000000,864.000000,864.000000
mean,2018.000000,2.500000,86.363426,103.291667,165.432870,57.777778,102.712963,137.636574
std,2.583484,1.118682,116.431490,188.849172,266.807807,156.015038,207.418981,180.798813
min,2014.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,2016.000000,1.750000,21.000000,9.000000,9.000000,4.000000,3.000000,39.750000
50%,2018.000000,2.500000,46.000000,35.500000,25.000000,10.000000,15.000000,91.000000
75%,2020.000000,3.250000,81.000000,72.250000,170.750000,26.000000,47.000000,143.250000
max,2022.000000,4.000000,720.000000,999.000000,998.000000,952.000000,987.000000,987.000000

### Velocidad Media de bajada de Internet fijo

In [84]:
velocidad_media_bajada_internet_fijo.head()

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          4                 10656.0   Oct-Dic 2022
1  2022          3                  6246.0  Jul-Sept 2022
2  2022          2                  5844.0   Abr-Jun 2022
3  2022          1                  5511.0   Ene-Mar 2022
4  2021          4                  5234.0   Oct-Dic 2021

In [79]:
velocidad_media_bajada_internet_fijo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre.1             36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

vemos que nos toma mal los Mbps por los puntos, toma los miles como decimales

In [83]:
velocidad_media_bajada_internet_fijo.describe()

               Año  Trimestre  Mbps (Media de bajada)
count    36.000000  36.000000               36.000000
mean   2018.000000   2.500000             4392.833333
std       2.618615   1.133893             2064.838970
min    2014.000000   1.000000             1201.000000
25%    2016.000000   1.750000             3421.500000
50%    2018.000000   2.500000             4330.500000
75%    2020.000000   3.250000             5442.750000
max    2022.000000   4.000000            10656.000000

quito los puntos para que me tome los miles

In [82]:
velocidad_media_bajada_internet_fijo['Mbps (Media de bajada)'] = velocidad_media_bajada_internet_fijo['Mbps (Media de bajada)'].apply(lambda x: float(str(x).replace('.', '')))

### Velocidad media de bajada de Internet fijo por provincia

In [42]:
velocidad_media_bajada_internet_fijo_provincia.head()

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          4     Buenos Aires                 111.000
1  2022          4  Capital Federal                  18.286
2  2022          4        Catamarca                   8.333
3  2022          4            Chaco                  10.402
4  2022          4           Chubut                   1.592

In [81]:
velocidad_media_bajada_internet_fijo_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     864 non-null    int64
 1   Trimestre               864 non-null    int64
 2   Provincia               864 non-null    object
 3   Mbps (Media de bajada)  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

vemos que nos toma mal los Mbps por los puntos, toma los miles como decimales

In [85]:
velocidad_media_bajada_internet_fijo_provincia.describe()

               Año   Trimestre  Mbps (Media de bajada)
count   864.000000  864.000000              864.000000
mean   2018.000000    2.500000              302.410067
std       2.583484    1.118682              287.314571
min    2014.000000    1.000000                1.000000
25%    2016.000000    1.750000                2.808500
50%    2018.000000    2.500000              344.000000
75%    2020.000000    3.250000              520.250000
max    2022.000000    4.000000              988.000000

quito los puntos para que tome bien los miles

In [86]:
velocidad_media_bajada_internet_fijo_provincia['Mbps (Media de bajada)'] = velocidad_media_bajada_internet_fijo_provincia['Mbps (Media de bajada)'].apply(lambda x: float(str(x).replace('.', '')))

In [87]:
velocidad_media_bajada_internet_fijo_provincia.describe()

               Año   Trimestre  Mbps (Media de bajada)
count   864.000000  864.000000              864.000000
mean   2018.000000    2.500000             4121.181713
std       2.583484    1.118682             2310.298603
min    2014.000000    1.000000               10.000000
25%    2016.000000    1.750000             2569.750000
50%    2018.000000    2.500000             3606.000000
75%    2020.000000    3.250000             5630.500000
max    2022.000000    4.000000            18286.000000

### Distribución de los accesos totales nacionales a Internet fijo por velocidad

In [8]:
distribucion_accesos_totales_nacionales_internet_fijo_velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31981.0,85668.0,1075272.0,1109421.0,765015.0,335573.0,7410902.0,394282.0,11208114.0
1,2022,3,33013.0,96727.0,1161370.0,1151906.0,823505.0,479822.0,6995750.0,349035.0,11091128.0
2,2022,2,33667.0,99498.0,1193090.0,1197030.0,856562.0,485321.0,6741922.0,351594.0,10958684.0
3,2022,1,3489.0,10484.0,1263273.0,1209148.0,967508.0,509830.0,6336187.0,198333.0,10624009.0
4,2021,4,41262.0,28521.0,1413208.0,1245333.0,976539.0,558358.0,6032322.0,194251.0,10489794.0

vemos el mismo problema que en el anterior, tenemos los puntos de los miles tomados como decimales

In [5]:
distribucion_accesos_totales_nacionales_internet_fijo_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     object
 5   Entre 6 Mbps y 10 Mbps   36 non-null     object
 6   Entre 10 Mbps y 20 Mbps  36 non-null     object
 7   Entre 20 Mbps y 30 Mbps  36 non-null     object
 8   Más de 30 Mbps           36 non-null     object
 9   OTROS                    36 non-null     float64
 10  Total                    36 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.2+ KB

In [6]:
# Lista de las columnas a procesar
col_a_p = ['Hasta 512 kbps', 'Entre 512 Kbps y 1 Mbps', 'Entre 1 Mbps y 6 Mbps', 'Entre 6 Mbps y 10 Mbps',
                       'Entre 10 Mbps y 20 Mbps', 'Entre 20 Mbps y 30 Mbps', 'Más de 30 Mbps', 'OTROS', 'Total']

# Itera a través de las columnas y realiza la conversión
for columna in col_a_p:
    distribucion_accesos_totales_nacionales_internet_fijo_velocidad[columna] = distribucion_accesos_totales_nacionales_internet_fijo_velocidad[columna].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))

In [7]:
distribucion_accesos_totales_nacionales_internet_fijo_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     float64
 5   Entre 6 Mbps y 10 Mbps   36 non-null     float64
 6   Entre 10 Mbps y 20 Mbps  36 non-null     float64
 7   Entre 20 Mbps y 30 Mbps  36 non-null     float64
 8   Más de 30 Mbps           36 non-null     float64
 9   OTROS                    36 non-null     float64
 10  Total                    36 non-null     float64
dtypes: float64(9), int64(2)
memory usage: 3.2 KB

In [9]:
distribucion_accesos_totales_nacionales_internet_fijo_velocidad.describe()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
count,36.000000,36.000000,36.000000,36.000000,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,3.600000e+01,36.000000,3.600000e+01
mean,2018.000000,2.500000,36298.138889,220559.333333,3.552501e+06,9.034036e+05,9.147367e+05,4.990417e+05,2.053382e+06,122895.250000,8.337742e+06
std,2.618615,1.133893,44799.878520,206489.872470,1.342734e+06,2.453029e+05,4.818186e+05,4.658192e+05,2.498904e+06,121902.990325,1.504414e+06
min,2014.000000,1.000000,3489.000000,2898.000000,1.075272e+06,2.891820e+05,1.011270e+05,3.450000e+02,1.159500e+04,0.000000,6.272846e+06
25%,2016.000000,1.750000,14749.250000,41936.500000,2.634148e+06,7.884982e+05,6.803692e+05,6.239875e+04,2.761000e+04,0.000000,7.085635e+06
50%,2018.000000,2.500000,32497.000000,208301.000000,3.415018e+06,9.781860e+05,8.111225e+05,4.975755e+05,4.845840e+05,155810.000000,8.228740e+06
75%,2020.000000,3.250000,41038.000000,316865.000000,4.970678e+06,1.065288e+06,1.139898e+06,6.358098e+05,4.099905e+06,199011.250000,9.410040e+06
max,2022.000000,4.000000,241713.000000,687619.000000,5.153437e+06,1.245333e+06,2.068087e+06,1.688748e+06,7.410902e+06,394282.000000,1.120811e+07

### Acceso a Internet Fijo por rangos de velocidad de bajada y provincia

In [44]:
acceso_internet_fijo_rangos_velocidad_bajada_provincia.head()

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759

vemos el mismo problema que en el anterior, tenemos los puntos de los miles tomados como decimales

In [10]:
acceso_internet_fijo_rangos_velocidad_bajada_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    object
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    object
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 81.1+ KB

In [11]:
# Lista de las columnas que deseas procesar
col_a_p = ['HASTA 512 kbps', '+ 512 Kbps - 1 Mbps', '+ 1 Mbps - 6 Mbps', '+ 6 Mbps - 10 Mbps',
                       '+ 10 Mbps - 20 Mbps', '+ 20 Mbps - 30 Mbps', '+ 30 Mbps', 'OTROS', 'Total']

# Itera a través de las columnas y realiza la conversión
for columna in col_a_p:
    acceso_internet_fijo_rangos_velocidad_bajada_provincia[columna] = acceso_internet_fijo_rangos_velocidad_bajada_provincia[columna].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))

In [12]:
acceso_internet_fijo_rangos_velocidad_bajada_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    float64
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    float64
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 81.1+ KB

In [13]:
acceso_internet_fijo_rangos_velocidad_bajada_provincia.describe()

,Año,Trimestre,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
count,864.000000,864.000000,864.000000,864.000000,8.640000e+02,864.000000,864.000000,864.000000,8.640000e+02,858.000000,8.640000e+02
mean,2018.000000,2.500000,2886.682870,10221.003472,1.480209e+05,33547.171296,34436.415509,19182.944444,8.555756e+04,5208.797203,3.474059e+05
std,2.583484,1.118682,10789.912094,21320.768124,3.438435e+05,60076.453978,86542.136272,69428.537032,3.635417e+05,12927.225226,7.450600e+05
min,2014.000000,1.000000,60.000000,0.000000,2.531000e+03,0.000000,0.000000,0.000000,0.000000e+00,-1945.000000,1.240600e+04
25%,2016.000000,1.750000,337.500000,1372.000000,2.744150e+04,3041.000000,2127.500000,220.000000,8.000000e+00,0.000000,5.274050e+04
50%,2018.000000,2.500000,1045.000000,3727.000000,4.783750e+04,8459.000000,7868.500000,2341.500000,1.019000e+03,0.000000,1.052355e+05
75%,2020.000000,3.250000,2553.250000,8324.000000,8.639200e+04,29956.000000,24457.250000,9284.000000,2.247475e+04,5729.750000,1.791482e+05
max,2022.000000,4.000000,199768.000000,171244.000000,2.299705e+06,403575.000000,886678.000000,949093.000000,3.760109e+06,120464.000000,4.794665e+06

### Accesos a Internet fijo por velocidad bajada y provincia

In [21]:
accesos_internet_fijo_velocidad_bajada_provincia.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,2022.0,4.0,Buenos Aires,97634.0,18.0,0.0,0.0,28.724,192.0,4611.0,...,0.0,0.0,14.0,0.0,0.0,0.0,5655.0,0.0,90796.0,0.0
1,2022.0,4.0,Capital Federal,106772.0,31.0,0.0,0.0,451.000,34.0,1307.0,...,0.0,0.0,0.0,1.0,0.0,0.0,15.0,0.0,28406.0,0.0
2,2022.0,4.0,Catamarca,2280.0,0.0,0.0,0.0,34.000,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.0,4.0,Chaco,3909.0,0.0,225.0,111.0,234.000,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.0,4.0,Chubut,20026.0,8.0,0.0,0.0,69.000,32.0,836.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
accesos_internet_fijo_velocidad_bajada_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         504 non-null    float64
 1   Trimestre   504 non-null    float64
 2   Provincia   504 non-null    object
 3   Otros       504 non-null    object
 4   0,256 Mbps  504 non-null    object
 5   0,375 Mbps  504 non-null    object
 6   0,625 Mbps  504 non-null    object
 7   0,5 Mbps    504 non-null    float64
 8   0,512 Mbps  504 non-null    object
 9   0,75 Mbps   504 non-null    object
 10  1 Mbps      504 non-null    object
 11  1,2 Mbps    504 non-null    object
 12  1,25 Mbps   504 non-null    object
 13  1,5 Mbps    504 non-null    object
 14  2 Mbps      504 non-null    object
 15  2,2 Mbps    504 non-null    object
 16  2,5 Mbps    505 non-null    object
 17  6,7 Mbps    504 non-null    object
 18  3 Mbps      504 non-null    float64
 19  3,2 Mbps    504 non-null    object
 20  3,3 Mbps    504 non-null    object
 21  3,5 Mbps    504 non-null    object
 22  4 Mbps      504 non-null    object
 23  4,5 Mbps    504 non-null    object
 24  5 Mbps      504 non-null    object
 25  6 Mbps      504 non-null    object
 26  6,4 Mbps    504 non-null    object
 27  7 Mbps      504 non-null    object
 28  7,5 Mbps    504 non-null    object
 29  8 Mbps      504 non-null    object
 30  9 Mbps      504 non-null    object
 31  10 Mbps     504 non-null    float64
 32  10,2 Mbps   504 non-null    object
 33  10,6 Mbps   504 non-null    object
 34  11 Mbps     504 non-null    object
 35  12 Mbps     504 non-null    object
 36  12,3 Mbps   504 non-null    object
 37  13 Mbps     504 non-null    object
 38  14 Mbps     504 non-null    object
 39  15 Mbps     504 non-null    object
 40  16 Mbps     504 non-null    object
 41  17 Mbps     504 non-null    object
 42  18 Mbps     504 non-null    object
 43  19 Mbps     504 non-null    object
 44  20 Mbps     504 non-null    object
 45  20,5 Mbps   504 non-null    object
 46  21 Mbps     504 non-null    object
 47  22 Mbps     504 non-null    object
 48  23 Mbps     504 non-null    object
 49  24 Mbps     504 non-null    object
 50  25 Mbps     504 non-null    object
 51  25,1 Mbps   504 non-null    object
 52  25,11 Mbps  504 non-null    object
 53  25,5 Mbps   504 non-null    object
 54  26 Mbps     504 non-null    object
 55  27 Mbps     504 non-null    object
 56  28 Mbps     504 non-null    object
 57  29 Mbps     504 non-null    object
 58  30 Mbps     504 non-null    object
 59  31 Mbps     504 non-null    object
 60  32 Mbps     504 non-null    object
 61  34 Mbps     504 non-null    object
 62  35 Mbps     504 non-null    object
 63  36 Mbps     504 non-null    object
 64  37 Mbps     504 non-null    object
 65  38 Mbps     504 non-null    object
 66  39 Mbps     504 non-null    object
 67  40 Mbps     504 non-null    object
 68  41 Mbps     504 non-null    object
 69  45 Mbps     504 non-null    object
 70  46 Mbps     504 non-null    object
 71  47 Mbps     504 non-null    object
 72  48 Mbps     504 non-null    object
 73  49 Mbps     504 non-null    object
 74  50 Mbps     504 non-null    object
 75  50,1 Mbps   504 non-null    object
 76  51 Mbps     504 non-null    object
 77  50,25 Mbps  504 non-null    object
 78  52 Mbps     504 non-null    object
 79  54 Mbps     504 non-null    object
 80  55 Mbps     504 non-null    object
 81  56 Mbps     504 non-null    object
 82  58 Mbps     504 non-null    object
 83  59 Mbps     504 non-null    object
 84  60 Mbps     504 non-null    object
 85  61 Mbps     504 non-null    object
 86  62 Mbps     504 non-null    object
 87  63 Mbps     504 non-null    object
 88  64 Mbps     504 non-null    object
 89  65 Mbps     504 non-null    object
 90  66 Mbps     504 non-null    object
 91  67 Mbps     504 non-null    object
 92  68 Mbps     504 non-null    object
 93  70 Mbps     504 non-null    object
 94  71 Mbps     504 non-null    object
 95  75 Mbps     504 non-null    object
 96  77 Mbps     504 non-null    object
dtypes: float64(5), object(92)
memory usage: 382.8+ KB

In [19]:
# Lista de las columnas que deseas procesar
columnas_a_procesar = ['Otros', '0,256 Mbps', '0,375 Mbps', '0,625 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
                       '1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps', '6,7 Mbps', '3 Mbps',
                       '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps', '4,5 Mbps', '5 Mbps', '6 Mbps', '6,4 Mbps', '7 Mbps',
                       '7,5 Mbps', '8 Mbps', '9 Mbps', '10 Mbps', '10,2 Mbps', '10,6 Mbps', '11 Mbps', '12 Mbps',
                       '12,3 Mbps', '13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps', '17 Mbps', '18 Mbps', '19 Mbps',
                       '20 Mbps', '20,5 Mbps', '21 Mbps', '22 Mbps', '23 Mbps', '24 Mbps', '25 Mbps', '25,1 Mbps',
                       '25,11 Mbps', '25,5 Mbps', '26 Mbps', '27 Mbps', '28 Mbps', '29 Mbps', '30 Mbps', '31 Mbps',
                       '32 Mbps', '34 Mbps', '35 Mbps', '36 Mbps', '37 Mbps', '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps',
                       '45 Mbps', '46 Mbps', '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps', '50,1 Mbps', '51 Mbps', '50,25 Mbps',
                       '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps', '59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps',
                       '63 Mbps', '64 Mbps', '65 Mbps', '66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps', '75 Mbps', '77 Mbps']

# Itera a través de las columnas y realiza la conversión
for columna in columnas_a_procesar:
    accesos_internet_fijo_velocidad_bajada_provincia[columna] = accesos_internet_fijo_velocidad_bajada_provincia[columna].apply(lambda x: float(str(x).replace('-', '').replace(' ', '').replace('.', '').replace(',', '.')) if isinstance(x, str) else np.nan)

In [20]:
accesos_internet_fijo_velocidad_bajada_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         504 non-null    float64
 1   Trimestre   504 non-null    float64
 2   Provincia   504 non-null    object
 3   Otros       504 non-null    float64
 4   0,256 Mbps  504 non-null    float64
 5   0,375 Mbps  504 non-null    float64
 6   0,625 Mbps  504 non-null    float64
 7   0,5 Mbps    504 non-null    float64
 8   0,512 Mbps  504 non-null    float64
 9   0,75 Mbps   504 non-null    float64
 10  1 Mbps      504 non-null    float64
 11  1,2 Mbps    504 non-null    float64
 12  1,25 Mbps   504 non-null    float64
 13  1,5 Mbps    504 non-null    float64
 14  2 Mbps      504 non-null    float64
 15  2,2 Mbps    504 non-null    float64
 16  2,5 Mbps    505 non-null    float64
 17  6,7 Mbps    504 non-null    float64
 18  3 Mbps      0 non-null      float64
 19  3,2 Mbps    504 non-null    float64
 20  3,3 Mbps    504 non-null    float64
 21  3,5 Mbps    504 non-null    float64
 22  4 Mbps      504 non-null    float64
 23  4,5 Mbps    504 non-null    float64
 24  5 Mbps      504 non-null    float64
 25  6 Mbps      504 non-null    float64
 26  6,4 Mbps    504 non-null    float64
 27  7 Mbps      504 non-null    float64
 28  7,5 Mbps    504 non-null    float64
 29  8 Mbps      504 non-null    float64
 30  9 Mbps      504 non-null    float64
 31  10 Mbps     0 non-null      float64
 32  10,2 Mbps   504 non-null    float64
 33  10,6 Mbps   504 non-null    float64
 34  11 Mbps     504 non-null    float64
 35  12 Mbps     504 non-null    float64
 36  12,3 Mbps   504 non-null    float64
 37  13 Mbps     504 non-null    float64
 38  14 Mbps     504 non-null    float64
 39  15 Mbps     504 non-null    float64
 40  16 Mbps     504 non-null    float64
 41  17 Mbps     504 non-null    float64
 42  18 Mbps     504 non-null    float64
 43  19 Mbps     504 non-null    float64
 44  20 Mbps     504 non-null    float64
 45  20,5 Mbps   504 non-null    float64
 46  21 Mbps     504 non-null    float64
 47  22 Mbps     504 non-null    float64
 48  23 Mbps     504 non-null    float64
 49  24 Mbps     504 non-null    float64
 50  25 Mbps     504 non-null    float64
 51  25,1 Mbps   504 non-null    float64
 52  25,11 Mbps  504 non-null    float64
 53  25,5 Mbps   504 non-null    float64
 54  26 Mbps     504 non-null    float64
 55  27 Mbps     504 non-null    float64
 56  28 Mbps     504 non-null    float64
 57  29 Mbps     504 non-null    float64
 58  30 Mbps     504 non-null    float64
 59  31 Mbps     504 non-null    float64
 60  32 Mbps     504 non-null    float64
 61  34 Mbps     504 non-null    float64
 62  35 Mbps     504 non-null    float64
 63  36 Mbps     504 non-null    float64
 64  37 Mbps     504 non-null    float64
 65  38 Mbps     504 non-null    float64
 66  39 Mbps     504 non-null    float64
 67  40 Mbps     504 non-null    float64
 68  41 Mbps     504 non-null    float64
 69  45 Mbps     504 non-null    float64
 70  46 Mbps     504 non-null    float64
 71  47 Mbps     504 non-null    float64
 72  48 Mbps     504 non-null    float64
 73  49 Mbps     504 non-null    float64
 74  50 Mbps     504 non-null    float64
 75  50,1 Mbps   504 non-null    float64
 76  51 Mbps     504 non-null    float64
 77  50,25 Mbps  504 non-null    float64
 78  52 Mbps     504 non-null    float64
 79  54 Mbps     504 non-null    float64
 80  55 Mbps     504 non-null    float64
 81  56 Mbps     504 non-null    float64
 82  58 Mbps     504 non-null    float64
 83  59 Mbps     504 non-null    float64
 84  60 Mbps     504 non-null    float64
 85  61 Mbps     504 non-null    float64
 86  62 Mbps     504 non-null    float64
 87  63 Mbps     504 non-null    float64
 88  64 Mbps     504 non-null    float64
 89  65 Mbps     504 non-null    float64
 90  66 Mbps     504 non-null    float64
 91  67 Mbps     504 non-null    float64
 92  68 Mbps     504 non-null    float64
 93  70 Mbps     504 non-null    float64
 94  71 Mbps     504 non-null    float64
 95  75 Mbps     504 non-null    float64
 96  77 Mbps     504 non-null    float64
dtypes: float64(96), object(1)
memory usage: 382.8+ KB

### Ingresos trimestrales por la prestación del servicio de Internet fijo

In [22]:
ingresos_trimestrales_prestación_servicio_Internet_fijo.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

In [23]:
ingresos_trimestrales_prestación_servicio_Internet_fijo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

### Accesos a Internet fijo por velocidad de bajada y localidad

In [47]:
Accesos_Internet_fijo_velocidad_bajada_localidad.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
Accesos_Internet_fijo_velocidad_bajada_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3095 non-null   object
 1   Partido     3095 non-null   object
 2   Localidad   3095 non-null   object
 3   Link Indec  3095 non-null   object
 4   Otros       962 non-null    float64
 5   0,256 Mbps  28 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    643 non-null    float64
 8   0,512 Mbps  523 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   284 non-null    float64
 11  1 Mbps      891 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    15 non-null     float64
 14  2 Mbps      722 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    4 non-null      float64
 17  3 Mbps      1351 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    373 non-null    float64
 20  4 Mbps      534 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      1003 non-null   float64
 23  6 Mbps      1413 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      225 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      630 non-null    float64
 28  9 Mbps      50 non-null     float64
 29  10 Mbps     1731 non-null   float64
 30  10,2 Mbps   1 non-null      float64
 31  11 Mbps     27 non-null     float64
 32  12 Mbps     306 non-null    float64
 33  12,3 Mbps   1 non-null      float64
 34  13 Mbps     16 non-null     float64
 35  14 Mbps     24 non-null     float64
 36  15 Mbps     1061 non-null   float64
 37  16 Mbps     16 non-null     float64
 38  17 Mbps     1 non-null      float64
 39  18 Mbps     20 non-null     float64
 40  20 Mbps     1106 non-null   float64
 41  20,5 Mbps   1 non-null      float64
 42  21 Mbps     5 non-null      float64
 43  22 Mbps     2 non-null      float64
 44  23 Mbps     2 non-null      float64
 45  24 Mbps     19 non-null     float64
 46  25 Mbps     457 non-null    float64
 47  25,1 Mbps   1 non-null      float64
 48  25,5 Mbps   1 non-null      float64
 49  26 Mbps     1 non-null      float64
 50  27 Mbps     1 non-null      float64
 51  30 Mbps     724 non-null    float64
 52  31 Mbps     4 non-null      float64
 53  32 Mbps     2 non-null      float64
 54  34 Mbps     1 non-null      float64
 55  35 Mbps     13 non-null     float64
 56  36 Mbps     3 non-null      float64
 57  38 Mbps     1 non-null      float64
 58  39 Mbps     1 non-null      float64
 59  40 Mbps     98 non-null     float64
 60  41 Mbps     1 non-null      float64
 61  45 Mbps     3 non-null      float64
 62  46 Mbps     1 non-null      float64
 63  48 Mbps     4 non-null      float64
 64  49 Mbps     1 non-null      float64
 65  50 Mbps     692 non-null    float64
 66  50,1 Mbps   1 non-null      float64
 67  50,25 Mbps  1 non-null      float64
 68  51 Mbps     2 non-null      float64
 69  55 Mbps     3 non-null      float64
 70  58 Mbps     1 non-null      float64
 71  59 Mbps     1 non-null      float64
 72  60 Mbps     261 non-null    float64
 73  61 Mbps     3 non-null      float64
 74  62 Mbps     1 non-null      float64
 75  64 Mbps     1 non-null      float64
 76  65 Mbps     2 non-null      float64
 77  66 Mbps     1 non-null      float64
 78  70 Mbps     17 non-null     float64
 79  75 Mbps     231 non-null    float64
 80  78 Mbps     1 non-null      float64
 81  80 Mbps     31 non-null     float64
 82  83 Mbps     1 non-null      float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

### Accesos a Internet fijo por tecnología y localidad

In [25]:
accesos_internet_fijo_tecnología_localidad.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98",NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28",NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN

In [30]:
accesos_internet_fijo_tecnología_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   float64
 5   CABLEMODEM     3137 non-null   float64
 6   DIAL UP        3137 non-null   float64
 7   FIBRA OPTICA   3137 non-null   float64
 8   OTROS          3137 non-null   float64
 9   SATELITAL      3137 non-null   float64
 10  WIMAX          3137 non-null   float64
 11  WIRELESS       3137 non-null   float64
 12  Total general  3137 non-null   float64
dtypes: float64(9), object(4)
memory usage: 318.7+ KB

quitar los guiones y cambiar las comas por puntos

In [28]:
columnas_a_procesar = ['ADSL', 'CABLEMODEM', 'DIAL UP', 'FIBRA OPTICA', 'OTROS', 'SATELITAL', 'WIMAX', 'WIRELESS', 'Total general']

# Itera a través de las columnas y realiza la conversión
for columna in columnas_a_procesar:
    accesos_internet_fijo_tecnología_localidad[columna] = accesos_internet_fijo_tecnología_localidad[columna].apply(lambda x: float(str(x).replace('-', '').replace(' ', '').replace(',', '.')) if isinstance(x, str) else np.nan)

quitar la columna vacia

In [29]:
accesos_internet_fijo_tecnología_localidad=accesos_internet_fijo_tecnología_localidad.drop(['Unnamed: 13'],axis=1)

### Listado de localidades con conectividad a internet.

In [34]:
listado_localidades_conectividad_internet.head()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),1,0,0,0,1,1,1,0,0
1,BUENOS AIRES,9 de Julio,Carlos María Naón,0,0,0,0,1,1,1,0,0
2,BUENOS AIRES,9 de Julio,Dudignac,0,0,1,0,1,1,1,1,0
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),0,0,0,0,1,0,0,0,0
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),1,0,0,1,1,1,1,0,0

In [31]:
listado_localidades_conectividad_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   ADSL            4311 non-null   object
 4   Cablemódem      4311 non-null   object
 5   Dial Up         4311 non-null   object
 6   Fibra óptica    4311 non-null   object
 7   4G              4311 non-null   object
 8   3G              4311 non-null   object
 9   Telefonía Fija  4311 non-null   object
 10  Wireless        4311 non-null   object
 11  Satelital       4311 non-null   object
dtypes: object(12)
memory usage: 404.3+ KB

modifico las columnas para que tengan valores binarios y sean mas faciles de procesar

In [32]:
# Columnas que contienen "SI" o "--" que deseas convertir a valores binarios.
columnas_a_procesar = ['ADSL', 'Cablemódem', 'Dial Up', 'Fibra óptica', '4G', '3G', 'Telefonía Fija', 'Wireless', 'Satelital']

# Diccionario de mapeo para convertir "SI" y "--" a valores binarios (1 o 0).
mapeo_valores = {"SI": 1, "--": 0}

# Aplicar el mapeo a las columnas relevantes
listado_localidades_conectividad_internet[columnas_a_procesar] = listado_localidades_conectividad_internet[columnas_a_procesar].applymap(lambda x: mapeo_valores.get(x, x))

In [33]:
listado_localidades_conectividad_internet.head()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),1,0,0,0,1,1,1,0,0
1,BUENOS AIRES,9 de Julio,Carlos María Naón,0,0,0,0,1,1,1,0,0
2,BUENOS AIRES,9 de Julio,Dudignac,0,0,1,0,1,1,1,1,0
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),0,0,0,0,1,0,0,0,0
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),1,0,0,1,1,1,1,0,0

# a

# a