In [10]:
import pandas as pd

In [11]:
na_accesos_cada_100_hogares_fijo=pd.read_csv('./csv_corregidos/na_accesos_cada_100_hogares_fijo.csv')
na_accesos_b_ancha_angosta_fijo= pd.read_csv('./csv_corregidos/na_accesos_b_ancha_angosta_fijo.csv')
na_accesos_tipo_tecnologia_fijo= pd.read_csv('./csv_corregidos/na_accesos_tipo_tecnologia_fijo.csv')
na_velocidad_media_bajada= pd.read_csv('./csv_corregidos/na_velocidad_media_bajada.csv')
na_dis_accesos_rango_vel_bajada= pd.read_csv('./csv_corregidos/na_dis_accesos_rango_vel_bajada.csv')
na_ingresos_operadores_fijo= pd.read_csv('./csv_corregidos/na_ingresos_operadores_fijo.csv')

In [12]:
na_accesos_cada_100_hogares_fijo.head(2)

    Año  Trimestre  Accesos por cada 100 hogares  Accesos por cada 100 hab
0  2022          4                         77.21                     24.15
1  2022          3                         76.64                     23.95

In [4]:
na_accesos_b_ancha_angosta_fijo.head(2)

    Año  Trimestre  Banda ancha fija  Dial up     Total
0  2022          4          11195668    12446  11208114
1  2022          3          11078691    12437  11091128

In [5]:
na_accesos_tipo_tecnologia_fijo.head(2)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,1315373,6037457,3060575,572969,221740,11208114
1,2022,3,1395277,6031970,2871541,557110,235230,11091128

In [6]:
na_velocidad_media_bajada.head(2)

    Año  Trimestre  Mbps (Media de bajada)
0  2022          4                  106.56
1  2022          3                   62.46

In [7]:
na_dis_accesos_rango_vel_bajada.head(2)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31981,85668,1075272,1109421,765015,335573,7410902,394282,11208114
1,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128

In [8]:
na_ingresos_operadores_fijo.head(2)

    Año  Trimestre  Ingresos (miles de pesos)
0  2022          4               7.244348e+07
1  2022          3               6.408678e+07